/* Allgemeine Styles für alle Bildschirmgrößen */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Lilita One", sans-serif;
    color: #02364A;
}

.page {
    height: 300vh; 
    position: relative;/* Jede Seite hat 3 Sektionen, also 3-fache Höhe des Viewports */
}

.section {
    height: 100vh; /* Jede Sektion nimmt die volle Höhe des Viewports ein */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    padding-top: 5vh;
}
.section h1 {
    top: 15vh;
    font-size: 15vw;
    margin-top: 10px;
}

.section h3 {
    top: 1vh; 
    font-size: 5vw; 
    margin-top: 0px;
    margin-bottom: 0px;
}


.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: 20px;
}

.abfluss, .surfability, .temperatur {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.abfluss h4, .surfability h4, .temperatur h4 {
    margin-bottom: 5px; /* Reduziert den Abstand unter dem h4-Element */
}

.abfluss p, .surfability p, .temperatur p {
    margin-top: 5px; /* Reduziert den Abstand über dem p-Element */
}

.content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: 20px;
}


.img-container, .data2 {
    flex: 1;
    text-align: center;
}

.section:nth-child(1) {
    background-color: #deedf8;
}

.section:nth-child(3) {
    background-color: #FFF4BC;
    
}

.section:nth-child(4) {
    background-color: #15749A;
    
}
.surfability-title {
    position: absolute;
    top: calc(200vh); /* Position it at the bottom of the second section */
    left: 30%;
    transform: translateX(-50%);
    width: 100vw;
    text-align: center;
    font-size: 10vw;
    z-index: 2; /* Ensure it stays above other elements */
    margin: 0; /* Remove margin for precise alignment */
}

.navigation {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: none;
}

.nav-btn {
    cursor: pointer;
    border: none;
    padding: none;
}

#myChart {
    width: 800px; /* Adjust the width as desired */
    height: 400px;
    margin: 0 auto; /* Zentriert das Element horizontal */
}



/* Media Query für Smartphones (bis 600px Breite) */
@media only screen and (max-width: 600px) {
    .section {
        font-size: 1.5rem;
    }
    .surfability-title {
        font-size: 15vw; /* Adjust font size for smaller screens */
    }

    .nav-btn { 
        font-size: 1rem; 
    }
    .data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        margin-top: 20px;
    }
    .content2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        margin-top: 20px;
    }
    .img-container, .data2 {
        flex: 1;
        text-align: center;
    }

}

/* Media Query für Tablets (zwischen 600px und 1024px Breite) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .section {
        font-size: 2rem; 
        
    }

    .nav-btn { 
        font-size: 1.2rem; 
    }
    .surfability-title {
        font-size: 12vw; /* Adjust font size for tablets */
    }

}

/* Media Query für Desktops (ab 1025px Breite) */
@media only screen and (min-width: 1025px) {
    .section {
        font-size: 2.5rem;  
    }

    .nav-btn {
        font-size: 1.5rem; 
    }
    .surfability-title {
        font-size: 10vw; /* Adjust font size for desktops */
    }
}
